body {
  width: 100%;
  min-height: 320px;
  overflow-x: hidden;
  background-image: url("../img/newlenta.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
li{
  list-style-type: none;
}
.main-body {
  display: inline-block;
  height: 100vh;
  margin-left: 13.5%;
  margin-right: 17.41%;
  position: relative;
}

.main-head {
  display: block;
  overflow-x: hidden;
  white-space: nowrap;
}

.logo {
  display: inline-block;
  width: 14%;
  min-height: 15px;
  float: left;
  margin-top: 2px;
  clear: right;
}

.search {
  display: inline-block;
  margin-left: 26%;
  margin-top: 4.5px;
  float: left;
  clear: right;
  overflow: hidden;
  width: 21%;
  text-align: center;
  /* height: 100%; */
  height: 27px;
  border: 1px solid rgb(0, 0, 0);
}

.search-form{
  display: none;
  visibility: hidden;
  color: white;
  text-align: right;
}
.search:hover>.search-form{
  visibility: visible;
  display: block;
  position: absolute;
  width: 30vw;
  z-index: 999;
  margin-left: -8vw;
  background-color: rgba(32, 31, 31, 1);
  text-align: center;
  border: 1px solid rgb(71, 66, 80);
  align-items: left;
  border-right: none;
}

.search-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-line{
  height: 2vh;
  width: 10vw;
  text-align: center;
}

.search-form li{
  margin-top: 5px;
  margin-bottom: 5px;
  /* text-align:right; */
  line-height: 20px;
}

.search-form label{
  /* float: left; */
  clear: both;
}


.comments {
  display: inline-block;
  margin-left: 15%;
  font-size: 150%;
  clear: right;
  white-space: nowrap;
}

.user {
  display: inline-block;
  margin-left: 5%;
  margin-top: 4.5px;
  font-size: 150%;
  white-space: nowrap;
}

.buttons-user button{
  display: block;
  margin-top: 2vw;
}

.buttons-user{
  display: none;
}

.menu_line {
  display: block;
  position: fixed;
  right: 17.41%;
  left: 13.5%;
  z-index: 10;
  background-color: white;
}

.content {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 80%;
}

.all-photos {
  display: inline-block;
  margin-top: 10%;
  margin-left: 5%;
  width: 55%;
  height: 100%;
}

.photo {
  width: 100%;
  height: 90%;
  border: 2px outset rgb(130, 158, 149);
  border-top: none
}

.content>.user-photo {
  display: flex;
  align-items: center;
  width: 98%;
  min-height: 20px;
  /* max-height: 25px; */
  padding-left: 2%;
  margin-right: 4%;
  font-size: 3vw;
  border: 2px outset rgb(130, 158, 149);
}

.user-photo>.time {
  /* display: inline-block; */
  margin-left: auto;
  padding-right: 2px;
}

.user-photo>.username {
  /* display: inline-block; */
  margin-left: 1%;
  text-transform: full-width;
  font-size: 2.5vw;
}

.content>.user-photo a img{
  width: 3vw;
}

.likes {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px outset rgb(130, 158, 149);
  border-top: none;
  font-size: 5vw;
}

.button-like {
  display: inline-block;
  margin-left: 2%;
  margin-top: 1px;
}

.people-likes {
  margin-left: 1vw;
}

.full-post {
  display: inline-block;
  height: 65vw;
  margin-top: 4.5%;
}


.all-comment-photo {
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  font-size: 3vw;
  width: 30%;
  max-height: 60vh;
  overflow-x: visible;
  overflow-y: inherit;
}

.comment-photo {
  display: inline-block;
  margin-top: 30%;
  width: 100%;
  height: 40%;
}

.leave-comment {
  width: 100%;
  border: 2px outset rgb(130, 158, 149);
  border-bottom: 2px outset rgb(235, 235, 235);
  height: 2vw;
}

.more-comments {
  border: none;
  font-size: 150%;
}

.all-comments {
  width: 100%;
  border: 2px outset rgb(130, 158, 149);
  border-top: none;
}

.all-comments>.user-photo {
  min-width: 10px;
  min-height: 10px;
}

.my-footer {
  position: fixed;
  margin-left: -2%;
  font-size: 2vw;
}
.my-footer li p{
  margin: 0px;
}

.ifSmall {
  display: inline-block;
  visibility: hidden;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0px;
  width: 0px;
}
.small-menu{
  display: none;
  visibility: hidden;
}

.hashtags {
  display: inline-block;
}

.hashtags>a {
  color: blue;
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  .all-comment-photo {
    font-size: 16px;
    margin-top: 10%;
  }

  .my-footer {
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  .content>.user-photo>.username {
    font-size: 2vw;
  }

  .content>.user-photo>.time {
    font-size: 1.5vw;
  }

  .content>.user-photo a img{
    width: 3vw;
  }
  .user-photo>.time{
    font-size: 2vw;
  }
  .content>.likes {
    font-size: 20px;
  }
}

@media screen and (min-width:480px) and (max-width: 800px) {
  .content>.user-photo {
    font-size: 3vw;
  }

  .content>.likes {
    font-size: 14px;
  }
}

@media screen and (max-width: 910px) {
  .ifSmall {
    position: relative;
    visibility: visible;
    margin-left: 30%;
    margin-top: 1.5%;
    border: none;
    background-color: white;
  }

  .ifSmall:hover>.small-menu {
    visibility: visible;
    display: block;
    position: absolute;
    width: 40vw;
    z-index: 999;
    margin-left: -18vw;
    background-color: rgba(0, 0, 0, 1);
    font-size: 3vw;
    text-align: center;
    border: 1px solid rgb(71, 66, 80);
    align-items: center;
    border-right: none;
  }

  ul hr{
    width: 80%;
  }

  .small-menu ul li a{
    color: white;
    text-decoration: none;
  }

  .small-menu ul li a:hover {
    color:rgb(119, 207, 89);
  }

  .time{
    font-size: 2vw;
  }
  .menu_line {
    float: inherit;
    align-items: center;
    align-content: center;
  }

  .logo {
    display: inline-block;
    height: 10%;
    float: left;
    left: 10%;
    right: 10%;
    padding-left: 30%;
    padding-right: 4px;
    margin-top: 2px;
  }

  .search {
    visibility: hidden;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    width: 0px;
    position: absolute;
  }

  .comments {
    visibility: hidden;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    width: 0px;
  }

  .user {
    visibility: hidden;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    width: 0px;
  }
}

@media screen and (max-width: 320px) {
  .full-post {
    margin-top: 15%;
  }

  .all-comments {
    margin-top: 15%;
  }

  .all-comments>{
    font-size: 2.6vw;
  }
  .content>.likes {
    font-size: 3vw;
  }
}
